:root {
  font-family: "Courier New", Courier, monospace;
  --selection: #6f6b6baa;

  @media (prefers-color-scheme: dark) {
    --primary: #252323;
    --secondary: #ede6da;
    --select-primary: #fdfafa;
    --select-secondary: #46444456;
    --card: #4543430f;
  }

  @media (prefers-color-scheme: light) {
    --primary: #fdfafa;
    --secondary: #454343;
    --select-primary: #464444;
    --select-secondary: #ede6daa0;
    --card: #ddd6ca20;
  }
}
::selection {
  background-color: var(--selection);
}
::-moz-selection {
  background-color: var(--selection);
}
html body {
  padding: 0;
  margin: 0;
  background-color: var(--primary);
  color: var(--secondary);
  margin-top: 9rem;
}
a {
  color: var(--secondary);
  text-decoration: none;
}

/* Navbar */
nav {
  z-index: 420;
  background-color: #00000005;
  -webkit-backdrop-filter: blur(0.1rem);
  backdrop-filter: blur(0.1rem);
  position: fixed; /* Prepared to be able to set: sticky top */
  top: 0;
  width: 100%;
  box-shadow: var(--shadow);

  > ul {
    height: 7rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    > a > picture > img {
      opacity: 0;
      scale: 0;
      height: 3rem;
      animation: 0.5s fadeIn;
      animation-timing-function: easeInExpo;
      animation-fill-mode: forwards;
      &:hover {
        animation: 7s 1 flyOut;
      }
    }
    > a {
      margin-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > li {
      align-self: center;
      text-shadow: var(--select-secondary) 1px 1px;
      padding: 2.5rem;
      font-size: larger;
      transition: all 0.1s ease-in-out;
      &:hover {
        padding: 2rem;
        font-size: xx-large;
      }
    }
  }
}

/* Background */
canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}
/* content */
.card {
  background: var(--card);
  backdrop-filter: blur(0.05rem);
  box-shadow: var(--shadow);
  margin: 2rem auto;
  max-width: min(69rem, 80%);
  padding: 0.25rem 1rem 1rem 2rem;

  * {
    overflow-wrap: break-word;
  }
}
/* sphere */
.skills {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  position: relative;
  > div {
    position: absolute;
  }
}

/* center TBD image*/
.tbd {
  display: block;
  margin-inline: auto;
  width: 50%;
}

.card > img {
  object-fit: contain;
  width: 100%;
  height: 20rem;
}

.article-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.clickable:hover {
  background-color: var(--select-secondary);
}

.folder {
  padding-left: 2rem;
}
.TBD {
  color: red;
  text-align: center;
}

time {
  float: right;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes flyOut {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
    rotate: 419deg;
    transform: translate(-89%, -101%);
  }
}
