@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #ede6da;
    --primary: #252323;
    --select-primary: #fdfafa;
    --select-secondary: #46444456;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --secondary: #252323;
    --primary: #fdfafa;
    --select-primary: #464444;
    --select-secondary: #ede6daa0;
  }
}
:root {
  --selection: #6f6b6baa;
  font-family: "Courier New", Courier, monospace;
  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
::selection {
  background-color: var(--selection);
}
::-moz-selection {
  background-color: var(--selection);
}
html body {
  padding: 0;
  margin: 0;
  background-color: var(--primary);
  color: var(--secondary);
  margin-top: 9rem;
}
a {
  color: var(--secondary);
  text-decoration: none;
}
/* Navbar */
nav {
  background-color: transparent;
  margin-inline: 0.5%;
  position: absolute; /* Prepared to be able to set: sticky top */
  top: 0;
  width: 99%;
}
nav > ul {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  height: 6rem;
  list-style-type: none;
}
nav > ul > li > * {
  padding: 1rem;
  border-radius: 1rem;
  vertical-align: middle;
  text-align: center;
  font-size: larger;
}
nav > ul > li > a:hover {
  font-size: xx-large;
  font-weight: 500;
}
.logo {
  margin: 1rem;
  width: 4rem;
}
.logo:hover {
  margin: 0.5rem;
  width: 5rem;
}
/* Background */
canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}
/* content */
.card {
  background: transparent;
  box-shadow: var(--shadow);
  margin: 2rem auto;
  max-width: min(69rem, 80%);
  padding: 0.25rem 1rem 1rem 2rem;
}
.card > * {
  overflow-wrap: break-word;
}
/* shpere */
.skills-outer {
  color: var(--secondary);
  display: flex;
  justify-content: center;
  position: relative;
}
.skills {
  position: absolute;
}
/* center TBD image*/
.tbd {
  display: block;
  margin-inline: auto;
  width: 50%;
}

.card > img {
  object-fit: contain;
  width: 100%;
  height: 20rem;
}

.article-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.clickable:hover {
  background-color: var(--select-secondary);
}

time {
  float: right;
}
