{% extends 'base.html.j2' %}
{% block head %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %}
{% block title %}all hail the leader{% endblock title %}
{% block body %}
<div class="card">
    <div>
        <h1>
            Benjamin Hallenrud
            <a href="https://www.linkedin.com/in/benjamin-hallenrud-8b7190114"><i class="fa fa-linkedin-square"></i></a>
        </h1>
        <p><i>Mangagement and Engineering</i></p>
        <h2>Key Drivers</h2>
        <h3>Organizational Improvements</h3>
        <p>
            Key improvements, in my experiance usally comes from comminucation.
            This for some reason always seems to be the hardest thing whithin a bigger corperation.
        </p>
        <h3>Automation</h3>
        <p>
            I see automation as a key part of how to keep your corparate bagage down while maximizing your impactwithin
            the
            organization.
        </p>
    </div>
    <br>
    <div class="skills-outer">
        <div class="skills"></div>
    </div>
</div>

<script type="text/javascript" src="./script/TagCloud.js"></script>
<script>
    var texts = [
        "aerospace",
        "agile",
        "agresso",
        "architect",
        "artifactory",
        "automation",
        "automotive",
        "azure",
        "bash",
        "bazel",
        "bitbucket",
        "bnf",
        "c",
        "c++",
        "centos",
        "ci/cd",
        "confluence",
        "css",
        "defence",
        "developer",
        "devops",
        "do-178",
        "do-254",
        "docker",
        "dockercompose",
        "doors",
        "embedded",
        "event planning",
        "excel",
        "fastapi",
        "flask",
        "fpga",
        "git",
        "github",
        "go",
        "grpc",
        "html",
        "hugo",
        "incose",
        "ip-xact",
        "iso26262",
        "jenkins",
        "jfrog",
        "jinja",
        "jira",
        "kali",
        "kanban",
        "keychain",
        "ksh",
        "line manager",
        "linux",
        "make",
        "material",
        "matlab",
        "mentorship",
        "mermaid",
        "metasploit",
        "modelsim",
        "onboarding",
        "pandas",
        "pert",
        "planner",
        "podman",
        "powerpoint",
        "powershell",
        "pre-commit",
        "prezi",
        "project lead",
        "pydantic",
        "pygments",
        "pytest",
        "python",
        "radar",
        "raspberry pi os",
        "redhat",
        "rest",
        "rich",
        "rtca",
        "rust",
        "scrum",
        "seaborn",
        "sh",
        "sphinx",
        "summerinterns",
        "svn",
        "synplify",
        "system admin",
        "system verilog",
        "systemweaver",
        "tcl",
        "team lead",
        "trace32",
        "training",
        "ubuntu",
        "unix",
        "verilog",
        "vhdl",
        "visio",
        "vunit",
        "wbs",
        "windows",
        "word",
        "xilinx ise",
        "xilinx vivado",
        "xpath",
        "zsh",
    ];

    var tc = TagCloud('.skills', texts);
</script>
<script>
    // switch style
    function toDefault() { document.body.classList.remove('light'); }
    function toLight() { document.body.classList.add('light'); }
    // add / remove tag
    function addTag() {
        if (!tc) return;
        texts.push('New');
        tc.update(texts);
    }
    function removeTag() {
        if (!tc) return;
        texts.pop();
        tc.update(texts);
    }
    var otherTcs = [];
    // create and destroy tagcloud
    function toCreate() {
        if (otherTcs.length >= 3) return;
        otherTcs.push(TagCloud('.content', texts));
    }
    function toDestroy() {
        var last = otherTcs[otherTcs.length - 1];
        if (!last) return;
        last.destroy();
        otherTcs.pop();
    }
    // pause and resume tagcloud animation
    function pause() {
        [].concat(tc, otherTcs).forEach(function (e) { return e.pause() });
    }
    function resume() {
        [].concat(tc, otherTcs).forEach(function (e) { return e.resume() });
    }
    // add and remove clickEvent
    function clickEventHandler(e) {
        if (e.target.className === 'tagcloud--item') {
            window.open(`https://www.google.com/search?q=${e.target.innerText}`, '_blank');
        }
    }
    function addClickEvent() {
        var rootEl = document.querySelector('.content');
        rootEl.addEventListener('click', clickEventHandler);
    }
    function removeClickEvent() {
        var rootEl = document.querySelector('.content');
        rootEl.removeEventListener('click', clickEventHandler);
    }
</script>
{% endblock %}
