{% extends "base.html.j2" %}
{% block head %}
{% endblock %}
{% block title %} join the cult{% endblock title %}
{% block body %}
<div class="card">
  <h1>Occult</h1>
  <p><i>Ooooohaaaaa techy techy, aa techy techy</i></p>
</div>

{# TODO: Autogenerate this part so it may scale #}
<a href="./article-docker-space.html">
<div class="card clickable">
  <img title="Some thing else" src="./img/moby.png" />
  <div class=article-text>
    <h2>Let's go to  Docker space!</h2>
    <p>
    Leave incompatibilities on the ground and take flight.
    Any application can be placed in a container and forgotten.
    Although, there are some caveats.
    </p>
  </div>
</div>
</a>
{% endblock %}
