{% extends 'base.html.j2' %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="card">
      <h1>
      OIOIOIIIOIIOOIOIOIIOIIOOOIIOOOIIOIIOIIIIOIIOIIOIOIIOOIOIOOIOOOOOOIIIOIOOOIIOIIIIOOIOOOOOOIIIOIOOOIIOIOOOOIIOOIOIOOIOOOOOOIOOOOIIOIIIOIOIOIIOIIOOOIIIOIOOOOIOOOOOOIIOIIIIOIIOOIIOOOIOOOOOOIOOOOIIOIIOIIIIOIIOOIOOOIIOOIOI
      </h1>
      <p>
        <a href="">Join the brotherhood</a>
      </p>
    </div>
{% endblock %}
