{% extends "base.html.j2" %}
{% block head %}
{% endblock %}
{% block title %} join the cult{% endblock title %}
{% block body %}
<div class="card">
  <h1>OIOIOIOOOIOOOOIOOIOOOIOO</h1>
  <picture>
    <source srcset="./img/tbd-light.png" media="(prefers-color-scheme: light)">
    <source srcset="./img/tbd-dark.png" media="(prefers-color-scheme: dark)">
    <img class="tbd" src="./img/tbd-light.png">
  </picture>
</div>
{% endblock %}
